@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');
*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppons', sans-serif;
    scroll-behavior: smooth;
}

body 
{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#0b011b,#031752);
    margin: 0rem;
    overflow: hidden;
}

#title 
{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
}

#title h1 
{
    margin: 0;
    padding: 0;
}


#image-track 
{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(0%, -50%); 
    user-select: none;
}

#image-track > .image 
{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}

#bf-track 
{
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(0%, -50%); 
    user-select: none;
}

#bf-track > .image 
{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
    transform-origin: bottom;
    transition: 0.5s ease-in-out;
}

#container {
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#choosebtn {
    display: inline-block;
    background: transparent;
    border: none;
}

#choosebtn img {
    width: 100px;
    height: auto;
    transition: 0.5s;
}

#choosebtn:hover img {
    filter: invert(50%) sepia(100%) hue-rotate(290deg) saturate(500%) drop-shadow(0 6px 0 white);
    transform: scale(1.25);
}
